.sx__week-grid__date-number {
    height: 30px !important;
    width: 30px !important;
}

.sx__week-grid__date--is-today .sx__week-grid__date-number {
    background-color: #615877;
    color: var(--sx-color-on-primary);
    border-radius: 35% !important;
    height: 30px;
    width: 30px;
}